In [11]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float

In [12]:
#csv files
gdp_file = 'GDP.csv'
unrate_file = 'UNRATE.csv'

In [13]:
#GDP
gdp = pd.read_csv(gdp_file)
gdp = gdp.dropna()

In [14]:
#Munge GDP Data
gdp_clean = gdp[['realtime_start','date','value']].copy()
gdp_clean = gdp_clean.rename({'value':'gdp_value'},axis=1)
gdp_clean.head()

  realtime_start        date  gdp_value
0     1992-12-22  1946-01-01      199.7
2     1997-05-07  1946-01-01      210.4
4     1992-12-22  1946-04-01      207.7
6     1997-05-07  1946-04-01      218.5
8     1992-12-22  1946-07-01      217.9

In [15]:
#Unemployment Rate
unemploy = pd.read_csv(unrate_file)
unemploy = unemploy.dropna()

In [16]:
un_clean = unemploy

In [22]:
un_clean.head()

   Unnamed: 0 realtime_start        date  value
0           0     1960-03-15  1948-01-01    3.5
1           1     1966-02-08  1948-01-01    3.4
2           2     1960-03-15  1948-02-01    3.8
3           3     1966-02-08  1948-02-01    3.9
4           4     1967-02-09  1948-02-01    3.8

In [19]:
##engine = create_engine('postgresql://40.7727.244:5432/GDP_db')
engine = create_engine('postgresql://postgres:barbat709@localhost:5432/GDP')
connection = engine.connect()

[]

In [23]:
gdp_clean.to_sql("GDP_TABLE", engine)

ValueError: Table 'GDP_TABLE' already exists.

In [24]:
un_clean.to_sql("UN_TABLE", engine)

In [25]:

inspector = inspect(engine)
inspector.get_table_names()

['GDP_TABLE', 'UN_TABLE']