# Abstract
* The purpose of this report is to show the process of extracting, transforming, and loading data from the Federal Reserve Economic Data website to a postgres database. The data we are pulling is the GDP and Unemployment Rate values for the United States based on date. This data can be used to create a time series for GDP value and the Unemployment Rate.
<br>
<br>
<br>
Team Members: Michael Becker, Tom ZIgo, Joseph Yi

# Step One: Extract
- Data Source: https://fred.stlouisfed.org/ 
    - Using the FRED API (File: FRED_API.py)
    - We used an input function, so you may enter any economic code you want to pull.
<br>
<br>
- The first challenge of extracting the data was to get familiar with the documentation of the Fred library. Afterwards, it was finding the economic codes to find the specific data we wanted to pull from the API. We found documentation on the codes we can use to pull data at this website: https://www.quandl.com/data/FRED-Federal-Reserve-Economic-Data/documentation.
<br>
<br>
Below is a photo of a code to pull data:

![](api.png)

In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float

In [4]:
#csv files
gdp_file = 'GDP.csv'
unrate_file = 'UNRATE.csv'

In [5]:
#GDP
gdp = pd.read_csv(gdp_file)
gdp = gdp.dropna()

# Step Two: Transform
- During this stage of the project, the only part we saw that we needed to munge is the values for the unemployment rate and the GDP data.

In [6]:
#Rename Column
gdp_clean = gdp[['realtime_start','date','value']].copy()
gdp_clean = gdp_clean.rename({'value':'gdp_value'},axis=1)
print(gdp_clean.head())
gdp_clean.to_csv('Clean Files/gdp_clean.csv')

  realtime_start        date  gdp_value
0     1992-12-22  1946-01-01      199.7
2     1997-05-07  1946-01-01      210.4
4     1992-12-22  1946-04-01      207.7
6     1997-05-07  1946-04-01      218.5
8     1992-12-22  1946-07-01      217.9

In [7]:
#Unemployment Rate
unemploy = pd.read_csv(unrate_file)
unemploy = unemploy.dropna()

In [8]:
#Rename Column
un_clean = unemploy[['realtime_start','date','value']].copy()
un_clean = un_clean.rename({'value':'unemploy_value'},axis=1)
un_clean = un_clean.dropna()

In [9]:
print(un_clean.head())
un_clean.to_csv('Clean Files/unemploy_clean.csv')

  realtime_start        date  unemploy_value
0     1960-03-15  1948-01-01             3.5
1     1966-02-08  1948-01-01             3.4
2     1960-03-15  1948-02-01             3.8
3     1966-02-08  1948-02-01             3.9
4     1967-02-09  1948-02-01             3.8

# Step Three: Load
- For our last part we loaded our data by loading the csv files from step two into a postgres database called, "GDP."

In [10]:
##Create engine - connection to Postgresql
engine = create_engine('postgresql://postgres:postgres@localhost:5432/GDP')
connection = engine.connect()

In [11]:
## Inspect if DB has tables
inspector = inspect(engine)
table_list = inspector.get_table_names()

In [12]:
## Table names for Pandas Dataframes
our_tables = ['GDP_TABLE', 'UN_TABLE']

In [13]:
for each in our_tables:
    if each not in table_list:
        gdp_clean.to_sql(each, engine) ### Create table if table doesn't exist

In [14]:
query0 = 'SELECT * FROM public."Economy_Blah"'

In [15]:
Blah_DF = pd.read_sql_query(query0, engine)

In [19]:
Blah_DF.head()

         date  gdp_value  value
0  1948-01-01      251.1    3.4
1  1948-01-01      251.1    3.5
2  1948-01-01      260.8    3.4
3  1948-01-01      260.8    3.5
4  1948-01-01      260.8    3.4

# Why we chose economic data.
- Our team decided to pull economic data, because of the availability and reliability of the data source. It would also be helpful when creating any time-series graphs.